body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    padding:16px ;
}

footer{
    background-color: #B5CF65;
    width: 100%;
    bottom: 0;
    position: absolute;
    padding-left: 24px;
    padding-bottom: 10px;
}

img{
    height: 200px;
    box-shadow: 10px 6px gray
    }

nav{
    padding: 16px;
    padding-top: 24px;
    padding-bottom: 1px solid white;
    padding-right: 0px;
    border: 12px;
    background-color: #FF5A34;
}

a.greenvegie{
    color:  green;
    font-weight: bold;
    text-decoration: none
}

a.main_link{
    color: white;
    font-weight: bold;
    text-decoration: none
}

h1{
    color: #146152;
}

.containerdiv {
    display: grid;
    height: 200px;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 0px;
}
.table_ingredients tr:nth-child(even){
    background-color:rgb(227, 223, 223);

}
